@charset "UTF-8";
body {
  background-image: url("../../assets/green_felt.jpg");
  font: 100% "Arial Narrow";
}

.header {
  height: 25px;
  background: #222;
  color: #eee;
  text-align: center;
  font: 12px/25px Helvetica, Verdana, Sans-Serif;
}
.header > A {
  color: #999;
}

#hand {
  width: 150px;
  height: 225px;
}
#hand > LI {
  position: absolute;
  transition-delay: 0.1s, 0.2s, 0.2s;
  transition: top 0.5s ease 0.1s, left 0.5s ease 0.2s, transform 0.5s ease 0.2s;
}
#hand > LI:nth-child(1) {
  transform: rotate(-3deg);
}
#hand > LI:nth-child(2) {
  transform: rotate(0deg);
}
#hand > LI:nth-child(3) {
  transform: rotate(3deg);
}
#hand > LI:nth-child(4) {
  transform: rotate(6deg);
}
#hand > LI:hover {
  left: 0;
  top: -30px;
  cursor: pointer;
  box-shadow: inset 0 0 80px rgba(150, 100, 50, 0.3), 0 0 30px rgba(255, 255, 200, 0.8);
}
#hand:hover > LI:nth-child(1) {
  transform: rotate(-10deg);
  left: 0px;
}
#hand:hover > LI:nth-child(2) {
  transform: rotate(0deg);
  left: 30px;
}
#hand:hover > LI:nth-child(3) {
  transform: rotate(10deg);
  left: 60px;
}
#hand:hover > LI:nth-child(4) {
  transform: rotate(20deg);
  left: 90px;
}

#spread {
  width: 450px;
  height: 250px;
}
#spread > LI {
  position: absolute;
  transition-delay: 0.1s;
  transition: top 0.5s ease 0.1s;
}
#spread > LI:nth-child(1) {
  transform: translate(0em, 16px) rotate(-40deg);
}
#spread > LI:nth-child(2) {
  transform: translate(1.6em, 11px) rotate(-34deg);
}
#spread > LI:nth-child(3) {
  transform: translate(3.2em, 7px) rotate(-28deg);
}
#spread > LI:nth-child(4) {
  transform: translate(4.8em, 4px) rotate(-22deg);
}
#spread > LI:nth-child(5) {
  transform: translate(6.4em, 2px) rotate(-16deg);
}
#spread > LI:nth-child(6) {
  transform: translate(8em, 1px) rotate(-10deg);
}
#spread > LI:nth-child(7) {
  transform: translate(9.6em, 1px) rotate(-4deg);
}
#spread > LI:nth-child(8) {
  transform: translate(11.2em, 2px) rotate(2deg);
}
#spread > LI:nth-child(9) {
  transform: translate(12.8em, 4px) rotate(8deg);
}
#spread > LI:nth-child(10) {
  transform: translate(14.4em, 7px) rotate(14deg);
}
#spread > LI:nth-child(11) {
  transform: translate(16em, 11px) rotate(20deg);
}
#spread > LI:nth-child(12) {
  transform: translate(17.6em, 16px) rotate(26deg);
}
#spread > LI:nth-child(13) {
  transform: translate(19.2em, 22px) rotate(32deg);
}
#spread > LI:hover {
  left: 0;
  top: -40px;
  cursor: pointer;
  box-shadow: inset 0 0 80px rgba(150, 100, 50, 0.3), 0 0 30px rgba(255, 255, 200, 0.8);
}

#grid {
  width: 800px;
}
#grid > LI {
  position: relative;
  float: left;
  margin: 5px -46px 5px 0px;
  transition-delay: 0.1s, 0.1s;
  transition: top 0.5s ease 0.1s, left 0.5s ease 0.1s;
}
#grid > LI:hover {
  left: -40px;
  top: -10px;
  cursor: pointer;
  box-shadow: inset 0 0 80px rgba(150, 100, 50, 0.3), 0 0 30px rgba(255, 255, 200, 0.8);
}

#hand:before, #spread:before, #grid:before, #hand:after, #spread:after, #grid:after {
  content: "";
  display: table;
}
#hand:after, #spread:after, #grid:after {
  clear: both;
}

#hand, #spread, #grid {
  border: 7px solid #030;
  border-radius: 20px;
  position: relative;
  margin: 5% auto 10%;
}

#hand > LI, #spread > LI, #grid > LI {
  top: 0px;
  left: 0px;
  list-style: none;
  width: 12rem;
  height: 16.8rem;
  background-color: #fff;
  background-image: url('../../assets/whitey.png');
  border-radius: 15px;
  box-shadow: inset 0 0 80px rgba(150, 100, 50, 0.5), 0 0 3px #966432;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  perspective: 1000;
  transform: translateZ(0deg);
}

#hand > LI[data-value], #spread > LI[data-value], #grid > LI[data-value] {
  overflow: hidden;
}
#hand > LI[data-value*='♣'][data-value], #spread > LI[data-value*='♣'][data-value], #grid > LI[data-value*='♣'][data-value], #hand > LI[data-value*='♠'][data-value], #spread > LI[data-value*='♠'][data-value], #grid > LI[data-value*='♠'][data-value] {
  color: #222;
}
#hand > LI[data-value*='♦'][data-value], #spread > LI[data-value*='♦'][data-value], #grid > LI[data-value*='♦'][data-value], #hand > LI[data-value*='♥'][data-value], #spread > LI[data-value*='♥'][data-value], #grid > LI[data-value*='♥'][data-value] {
  color: #a00;
}
#hand > LI[data-value]:before, #spread > LI[data-value]:before, #grid > LI[data-value]:before, #hand > LI[data-value]:after, #spread > LI[data-value]:after, #grid > LI[data-value]:after {
  content: attr(data-value);
  text-align: center;
  width: 1em;
  position: absolute;
  font-size: 1.8em;
  line-height: 0.85em;
  margin-top: 4%;
  margin-left: 0%;
}
#hand > LI[data-value]:after, #spread > LI[data-value]:after, #grid > LI[data-value]:after {
  right: 0;
  bottom: 4%;
  transform: rotate(180deg);
}
#hand > LI[data-value] > P, #spread > LI[data-value] > P, #grid > LI[data-value] > P {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 4rem;
}
#hand > LI[data-value] > P > SPAN:first-child, #spread > LI[data-value] > P > SPAN:first-child, #grid > LI[data-value] > P > SPAN:first-child {
  display: none;
}
#hand > LI[data-value^='A'][data-value] > P, #spread > LI[data-value^='A'][data-value] > P, #grid > LI[data-value^='A'][data-value] > P {
  width: 0.65em;
  height: 0.65em;
  line-height: 0.5em;
  text-align: center;
  margin: auto;
  margin-top: 120px;
}
#hand > LI[data-value^='A'][data-value] > P:after, #spread > LI[data-value^='A'][data-value] > P:after, #grid > LI[data-value^='A'][data-value] > P:after {
  content: "";
}
#hand > LI[data-value='A ♠'][data-value] > P, #spread > LI[data-value='A ♠'][data-value] > P, #grid > LI[data-value='A ♠'][data-value] > P {
  margin-top: 80px;
  font-size: 10em;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff, 0 -3px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}
#hand > LI[data-value^='2'][data-value] > P, #spread > LI[data-value^='2'][data-value] > P, #grid > LI[data-value^='2'][data-value] > P {
  line-height: 0.5em;
  width: 0.65em;
  height: 0.65em;
  margin-top: 30px;
  margin-left: 80px;
}
#hand > LI[data-value^='2'][data-value] > P:after, #spread > LI[data-value^='2'][data-value] > P:after, #grid > LI[data-value^='2'][data-value] > P:after {
  content: attr(data-suit);
  display: inline-block;
  transform: rotate(180deg);
  padding-bottom: 140px;
}
#hand > LI[data-value^='3'][data-value] > P, #spread > LI[data-value^='3'][data-value] > P, #grid > LI[data-value^='3'][data-value] > P {
  line-height: 0.5em;
  width: 0.65em;
  height: 0.65em;
  margin-top: 30px;
  margin-left: 80px;
  text-shadow: 0 80px 0px;
}
#hand > LI[data-value^='3'][data-value] > P:after, #spread > LI[data-value^='3'][data-value] > P:after, #grid > LI[data-value^='3'][data-value] > P:after {
  content: attr(data-suit);
  display: inline-block;
  transform: rotate(180deg);
  padding-bottom: 140px;
  text-shadow: 0 80px 0px transparent;
}
#hand > LI[data-value^='4'][data-value] > P, #spread > LI[data-value^='4'][data-value] > P, #grid > LI[data-value^='4'][data-value] > P {
  line-height: 0.5em;
  width: 0.65em;
  height: 0.65em;
  margin-top: 30px;
  margin-left: 45px;
  text-shadow: 4.6rem 0px 0px;
}
#hand > LI[data-value^='4'][data-value] > P:after, #spread > LI[data-value^='4'][data-value] > P:after, #grid > LI[data-value^='4'][data-value] > P:after {
  content: attr(data-suit);
  display: inline-block;
  transform: rotate(180deg);
  padding-bottom: 140px;
  text-shadow: -70px 0 0px;
}
#hand > LI[data-value^='5'][data-value] > P, #spread > LI[data-value^='5'][data-value] > P, #grid > LI[data-value^='5'][data-value] > P {
  line-height: 0.5em;
  width: 0.65em;
  height: 0.65em;
  margin-top: 30px;
  margin-left: 45px;
  text-shadow: 4.6rem 0px 0px, 40px 80px 0px;
}
#hand > LI[data-value^='5'][data-value] > P:after, #spread > LI[data-value^='5'][data-value] > P:after, #grid > LI[data-value^='5'][data-value] > P:after {
  content: attr(data-suit);
  display: inline-block;
  transform: rotate(180deg);
  padding-bottom: 140px;
  text-shadow: -70px 0 0px;
}
#hand > LI[data-value^='6'][data-value] > P, #spread > LI[data-value^='6'][data-value] > P, #grid > LI[data-value^='6'][data-value] > P {
  line-height: 0.5em;
  width: 0.65em;
  height: 0.65em;
  margin-top: 30px;
  margin-left: 45px;
  text-shadow: 0 80px 0px, 70px 80px 0px, 70px 0px 0px;
}
#hand > LI[data-value^='6'][data-value] > P:after, #spread > LI[data-value^='6'][data-value] > P:after, #grid > LI[data-value^='6'][data-value] > P:after {
  content: attr(data-suit);
  display: inline-block;
  transform: rotate(180deg);
  padding-bottom: 140px;
  text-shadow: -66px 0px 0px;
}
#hand > LI[data-value^='7'][data-value] > P, #spread > LI[data-value^='7'][data-value] > P, #grid > LI[data-value^='7'][data-value] > P {
  line-height: 0.5em;
  width: 0.65em;
  height: 0.65em;
  margin-top: 30px;
  margin-left: 45px;
  text-shadow: 4.6rem 0px 0px, 40px 40px 0px, 0px 80px 0px, 75px 80px 0px;
}
#hand > LI[data-value^='7'][data-value] > P:after, #spread > LI[data-value^='7'][data-value] > P:after, #grid > LI[data-value^='7'][data-value] > P:after {
  content: attr(data-suit);
  display: inline-block;
  transform: rotate(180deg);
  padding-bottom: 140px;
  text-shadow: -70px 0 0px;
}
#hand > LI[data-value^='8'][data-value] > P, #spread > LI[data-value^='8'][data-value] > P, #grid > LI[data-value^='8'][data-value] > P {
  line-height: 0.5em;
  width: 0.65em;
  height: 0.65em;
  margin-top: 30px;
  margin-left: 45px;
  text-shadow: 4.6rem 0px 0px, 40px 40px 0px, 0px 80px 0px, 75px 80px 0px;
}
#hand > LI[data-value^='8'][data-value] > P:after, #spread > LI[data-value^='8'][data-value] > P:after, #grid > LI[data-value^='8'][data-value] > P:after {
  content: attr(data-suit);
  display: inline-block;
  transform: rotate(180deg);
  padding-bottom: 140px;
  text-shadow: -70px 0 0px, -35px 45px 0px;
}
#hand > LI[data-value^='9'][data-value] > P, #spread > LI[data-value^='9'][data-value] > P, #grid > LI[data-value^='9'][data-value] > P {
  line-height: 0.5em;
  width: 0.65em;
  height: 0.65em;
  margin-top: 30px;
  margin-left: 45px;
  text-shadow: 4.6rem 0px 0px, 40px 82px 0px, 0 50px 0px, 75px 50px 0px;
}
#hand > LI[data-value^='9'][data-value] > P:after, #spread > LI[data-value^='9'][data-value] > P:after, #grid > LI[data-value^='9'][data-value] > P:after {
  content: attr(data-suit);
  display: inline-block;
  transform: rotate(180deg);
  padding-bottom: 140px;
  text-shadow: -70px 0 0px, 0 50px 0px, -70px 50px 0px;
}
#hand > LI[data-value^='10'][data-value] > P, #spread > LI[data-value^='10'][data-value] > P, #grid > LI[data-value^='10'][data-value] > P {
  line-height: 0.5em;
  width: 0.65em;
  height: 0.65em;
  margin-top: 30px;
  margin-left: 45px;
  text-shadow: 4.6rem 0px 0px, 40px 28px 0px, 0 50px 0px, 75px 50px 0px;
}
#hand > LI[data-value^='10'][data-value] > P:after, #spread > LI[data-value^='10'][data-value] > P:after, #grid > LI[data-value^='10'][data-value] > P:after {
  content: attr(data-suit);
  display: inline-block;
  transform: rotate(180deg);
  padding-bottom: 140px;
  text-shadow: -70px 0 0px, 0 50px 0px, -35px 28px 0px, -70px 50px 0px;
}
#hand > LI[data-value^='J'][data-value] > P, #spread > LI[data-value^='J'][data-value] > P, #grid > LI[data-value^='J'][data-value] > P, #hand > LI[data-value^='Q'][data-value] > P, #spread > LI[data-value^='Q'][data-value] > P, #grid > LI[data-value^='Q'][data-value] > P, #hand > LI[data-value^='K'][data-value] > P, #spread > LI[data-value^='K'][data-value] > P, #grid > LI[data-value^='K'][data-value] > P {
  width: 65%;
  height: 80%;
  left: 50%;
  margin-left: 33px;
  margin-top: 25px;
  color: transparent;
  border: 1px solid #000;
  background-position: center;
  background-size: cover;
}
#hand > LI[data-value^='J'][data-value] > P, #spread > LI[data-value^='J'][data-value] > P, #grid > LI[data-value^='J'][data-value] > P {
  background-image: url("http://placekitten.com/100/186");
}
#hand > LI[data-value^='Q'][data-value] > P, #spread > LI[data-value^='Q'][data-value] > P, #grid > LI[data-value^='Q'][data-value] > P {
  background-image: url("http://placekitten.com/100/182");
}
#hand > LI[data-value^='K'][data-value] > P, #spread > LI[data-value^='K'][data-value] > P, #grid > LI[data-value^='K'][data-value] > P {
  background-image: url("http://placekitten.com/100/188");
}

#hand > LI:not([data-value]) > P, #spread > LI:not([data-value]) > P, #grid > LI:not([data-value]) > P {
  width: 90%;
  height: 92%;
  margin: 5% auto 0;
  background-image: url('../../assets/Violet-Classical-Pattern-Background.jpg');
  background-position: center center;
  border-radius: 7px;
}
